.DS_Store
.env
.vscode

# custom docker-compose files
composes/*.custom.docker-compose.yaml

# additional resources (needed by custom docker-compose files)
composes/lucadibello

# Ignored Databases
composes/uptime-kuma/kuma.db

# Secrets / Certificates
composes/letsencrypt/acme.json
