.DS_Store
.env
.vscode
.tmp/
*.tmp
.gitmodules

# custom docker-compose files
composes/*.custom.docker-compose.yaml
composes/extras/

# additional resources (needed by custom docker-compose files)
composes/lucadibello

# Cloud storage & backup configuration (Rclone credentials/tokens)
config/rclone/

# Ignored Databases & backups
composes/uptime-kuma/kuma.db
*.sql.gz

# Secrets / Certificates
composes/letsencrypt/acme.json
