# WUD (What's Up Docker) environment configuration
TZ=<TZ>
WUD_LOG_LEVEL=info

# Watcher configuration (Local Docker socket)
WUD_WATCHER_LOCAL_CRON=0 6 * * *
WUD_WATCHER_LOCAL_WATCHALL=false
WUD_WATCHER_LOCAL_WATCHBYDEFAULT=true
WUD_WATCHER_LOCAL_WATCHDIGESTDEFAULT=true

# Initial administrator bootstrap credentials
WUD_AUTH_ADMIN_USER=<WUD_ADMIN_USER>
WUD_AUTH_ADMIN_PASSWORD=<WUD_ADMIN_PASSWORD>

# Triggers configuration (Push notifications via Ntfy)
WUD_TRIGGER_NTFY_HOMELAB_URL=<NTFY_URL>
WUD_TRIGGER_NTFY_HOMELAB_TOPIC=<NTFY_TOPIC>
WUD_TRIGGER_NTFY_HOMELAB_PRIORITY=3
WUD_TRIGGER_NTFY_HOMELAB_TAGS=whale,package
WUD_TRIGGER_NTFY_HOMELAB_ICON=https://getwud.app/img/wud-logo-512.png
<NTFY_AUTH_TOKEN_CONFIG>
